:root {
  --vp-c-accent: #007acc;
  --vp-c-accent-bg: #007acc;
  --vp-c-accent-hover: #1a8ae7;
  --vp-c-accent-text: #fff;
  --vp-c-accent-soft: rgb(0 122 204 / 14%);
  --vp-c-text: #2c3e50;
  --vp-c-border: #eaecef;
  --badge-c-tip-text: #fff;
  --badge-c-tip-bg: #42b983;
  --badge-c-warning-text: #111;
  --badge-c-warning-bg: #bfa100;
  --badge-c-danger-text: #fff;
  --badge-c-danger-bg: #da5961;
  --navbar-height: 4.6rem;
  --sidebar-width: 20rem;
  --content-width: 960px;
  --homepage-width: 960px;
}

// responsive breakpoints
$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;
